.app {
  --bg-color: #131313;
  --text-color: #e5e5e5;
}

.theme-ocean {
  --bg-color: #0a192f;
  --text-color: #f1faee;
}

.theme-ocean .cell {
  background-color: #1d3557;
}

.theme-ocean .cell.hit {
  background-color: #e63946;
}

.theme-ocean .cell.miss {
  background-color: #a8dadc;
}

.theme-ocean .cell.ship {
  background-color: #457b9d;
}

.theme-ocean .cell.preview-valid {
  background-color: rgba(0, 255, 0, 0.3) !important;
  border: 1px dashed green !important;
}

.theme-ocean .cell.preview-invalid {
  background-color: rgba(255, 0, 0, 0.3) !important;
  border: 1px dashed rgb(128, 0, 0) !important;
}

.theme-ocean .board {
  box-shadow: 0 0 8px 2px rgba(69, 123, 157, 0.6);
}

.theme-ocean .cell:enabled:hover {
  box-shadow: 0 0 8px 2px rgba(69, 123, 157, 0.6);
}

.theme-ocean .coordinate-labels {
  color: #f1faee;
}
