html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.start {
  background-color: rgb(36, 36, 36);
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px 2px rgba(186, 186, 186, 0.6);
  transition: transform 0.2s ease;
}

.start:disabled {
  cursor: default;
}

.start:enabled:hover {
  transform: scale(1.02);
}

.start:enabled:active {
  transform: scale(0.98);
}

.boards-container {
  display: flex;
  height: 70vh;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}