:root {
  --board-size: 450px;
}

.board {
  display: grid;
  width: var(--board-size);
  height: var(--board-size);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-radius: 5px;
  box-shadow: 0 0 8px 2px rgba(186,
    186,
    186,
    0.6);
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(36, 36, 36);
  font-size: 25px;
  font-weight: bolder;
  cursor: crosshair;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.cell:enabled:hover {
  box-shadow: 0 0 8px 2px rgba(241, 162, 162, 0.6);
  transform: scale(1.05);
}

.cell:enabled:active {
  transform: scale(0.95);
}

.cell:disabled {
  cursor: default;
}

.cell:disabled:hover {
  box-shadow: 0 0 8px 2px rgba(186, 186, 186, 0.6);
  transform: scale(1.02);
}